.splash {
  display: grid;
  gap: var(--gap);
  align-content: center;
  justify-items: start;
  max-width: 640px;
  height: 100%;
  padding: 0 24px;
  margin: 0 auto;
}

.splash__title {
  font-size: var(--font-xl);
}

.splash__message {
  color: var(--text-muted);
}

.splash__action {
  justify-self: start;
}
